extends ./../layouts/main.pug
block title
    p(class="warn") Успішно зареєстровано нового клієнта!
block description
    p(class="warn") Вітаємо нового клієнта #{customer.customer.email} у Lakomka Store!
//-
//- block actions
//-     a(href=link, target="_blank" class="button") Visit our website
