extends ./../layouts/main.pug
block title
    p(class="success") Ваше замовлення відправлено!
block description
    p Дякуємо за покупку!
    p(class="small") ID Замовлення: #{order.id}
//-
//- block actions
//-     a(href=link, target="_blank" class="button") Visit our website
