extends ./../layouts/main.pug
block title
    p(class="warn") Створено нового користувача системи!
block description
    p(class="warn") Email нового користувача: #{user.email}
//-
//- block actions
//-     a(href=link, target="_blank" class="button") Visit our website
