extends ./../layouts/main.pug
block title
    p(class="success") Повернення коштів за замовлення у процессі!
block description
    p Ми вже відправляємо назад <span class="bold">#{total_value} #{order.currency_code === 'usd' ? '$' : order.currency_code}</span>
    p(class="small") ID Замовлення: #{order.id}
//-
//- block actions
//-     a(href=link, target="_blank" class="button") Visit our website
